#TituloPrincipal{
    Color:brown;
    font-size: 70px;
    font-family: Helvetica Neue;
}

#Subtitulos{
    Color:brown;
    font-size: 30px;
    font-family: Helvetica Neue;
    text-align: left;
}
p{
    color: saddlebrown;
    font-size: 18px;
    font-family: Arial;
    padding: 8px 12px;    
}

header{
    background: url(Images/banner.jpg) no-repeat;
    background-size: cover;
    height: 250px;        
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  nav li {
    margin-top: 10px;
  }

  nav a {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
    color: darkred;
    padding: 75px;
  }
  
  a:hover{
    color:black;
    background-color: transparent;
}

.username{
    display: flex;
    position:fixed;
    font-size: 60px;
    font-weight: bold;
    padding: 50px 100px;
    line-height: 90px;
    color: maroon;
    margin:0 auto;
    
   
    
     
     
}
